body{
    width: 100%;
}
.text-center{
    text-align: center;
}
.text-middle{
    margin-right: auto;margin-left: auto;float: none;
}
button{
    width: 50%;
    font-size: 60%;
    font-family: cursive;
}

